
body {
    min-height:100vh; /* 1 */
    display:flex; /* 2 */
    flex-direction:column; /* 3 */
}
.main-content {
    flex-grow:1;
}

.nav-link.active {
    color: rgb(190, 0, 0) !important;
    text-decoration: underline;
}