{% extends 'base.html.twig' %}

{# Page settings #}
{% set page_title = "Add a new book" %}


{# Page Title #}
{% block title %}{{ page_title }} - {{ parent() }}{% endblock %}


{# Page Body #}
{% block body %}
<header class="page-header">
    <h2 class="page-title">{{ page_title }}</h2>
</header>

<main class="page-content">
    
    FORM....
    
</main>

<footer class="page-footer">
    <a href="{{ url('book:index') }}" class="btn btn-link btn-sm">Back to books list</a>
</footer>
{% endblock %}
