<header class="main-header">
    <div class="container">

        <nav class="navbar navbar-expand-lg">

            {# Brand #}
            <a class="navbar-brand" href="#">Bibliotheque</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                {# Menu left #}
                {# <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') == 'homepage' ? 'active' }}" aria-current="page" href="{{ url('homepage') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') == 'book:index' ? 'active' }}" href="{{ url('book:index') }}">Books</a>
                    </li>
                </ul> #}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        {% include "components/nav-link/index.html.twig" with {
                            route: 'homepage',
                            label: 'Home'
                        } %}
                    </li>
                    <li class="nav-item">
                        {% include "components/nav-link/index.html.twig" with {
                            route: 'book:index',
                            label: 'Books'
                        } %}
                    </li>
                    <li class="nav-item">
                        {% include "components/nav-link/index.html.twig" with {
                            route: 'author:index',
                            label: 'Authors'
                        } %}
                    </li>
                </ul>

                {# Search bar #}
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                {# Menu right #}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {# Anonymous user nav #}
                    <li class="nav-item">
                        {% include "components/nav-link/index.html.twig" with {
                            route: 'homepage',
                            label: 'Register'
                        } %}
                    </li>
                    <li class="nav-item">
                        {% include "components/nav-link/index.html.twig" with {
                            route: 'homepage',
                            label: 'Login'
                        } %}
                    </li>

                    {# Granted user nav #}
                    <li class="nav-item">
                        {% include "components/nav-link/index.html.twig" with {
                            route: 'homepage',
                            label: 'User Profile'
                        } %}
                    </li>
                    <li class="nav-item">
                        {% include "components/nav-link/index.html.twig" with {
                            route: 'homepage',
                            label: 'Logout'
                        } %}
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</header>